
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/webgl_p.json", {onProgress: UnityProgress});
    </script>

<div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">editor.player</div>
      </div>
	  <textarea id="template" cols="100" rows="20">
<Response>
  <Widget WidgetType="Widget" Name="start">
    <Params/>

    <Event Name="Init"/>

    <EventHandler Name="Init">
      <Command ID="messageBoxControl1" Name="show"/>
    </EventHandler>

    <EventHandler Name="Ok"/>

    <MessageBoxControl ID="messageBoxControl1" Title="Ошибка подключения к серверу" Message="Не удалось подключиться к серверу. Проверьте соединение с Интернет и снова запустите приложение." IsCritical="false" Type="Error">
      <MessageButton Type="BOk" Text="ОК">
        <Event Name="Ok"/>
      </MessageButton>
    </MessageBoxControl>

  </Widget>
</Response>
	  </textarea>
	<input type="button" onclick="SendTemplate()" value="Отправить"/>
    </div>
    <script>
	  function SendTemplate() {
	     var x = document.getElementById("template").value;
		gameInstance.SendMessage("SceneMain", "StartTemplate", x);
  }
    </script>
